.avatar {
    width: 150px;
    height: 100%;
}

header {
    background-color: white;
}

.blue {
    float: right;

    width: 40px;
    height: 100%;


}

.bell {
    float: right;
    width: 40px;
    height: 100%;
}

.chat {
    float: right;
    width: 40px;
    height: 45px;
}

.row {
  display: flex;
}

.column1 {
    background-color: #122746;
    color: white;
    float: left;
    width: 50%;
    padding: 0px;
    height: 200px;
}

.column1:hover{
    background-color: #233858;
}

.newPro{
    background-color: #122746;
    color: white;
  float: left;
  width: 50%;
  padding: 0px;
  height: 200px;
}

.column2 {
background-color: #0C2244;
    color: white;
  float: left;
  width: 50%;
  padding: 50px;
  height: 200px;
}

.column2:hover{
    background-color: #233858;
}

.icon {
    width: 70px;
    height: 70px;
}

.plusicon {
    position: absolute;
    left: 410px;
    bottom: 60px;
    width: 70px;
    height: 70px;
}

.newproject{
    text-align: center;
}

.mmd {
    width: 120px;
    height: 120px;
}

.info {
    width: 145px;
    height: 100px;
}

button {
    font-size: 1em;
    font-family: helvetica;
    text-decoration: none;
}

a {
    font-family: helvetica;
    text-decoration: none;
}
