.avatar {
    width: 150px;
    height: 100%;
}

body {
    background-color: white;
}

header {
    background-color: white;
}

.blue {
    float: right;
    width: 40px;
    height: 100%;
}

.studentbox {
    font-family: helvetica;
    font-size: 1.5em;
    color: black;
}

.bell {
    float: right;
    width: 40px;
    height: 100%;
}

.chat {
    float: right;
    width: 40px;
    height: 45px;
}

h2 {
    font-family: helvetica;
    text-align: center;
    color: white;
    padding: 1em;
    background-color: #363636;
    border-radius: 10px;
}

ul {
    list-style: none;
}

.login {
    font-family: helvetica;
    background-color: #1E2C40;
    float: right;
    color: white;
    font-size: 1.5em;
    padding: 5px 2px;
    margin: 4px 0;
    cursor: pointer;
    width: 50%;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
}

.login:hover {
    background-color: #59cbe8;
}

input[type=text] {
    background-color: white;
    font-size: 1.5em;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
